{% extends 'frontoffice/footer.html.twig' %}

{% block body %}
	<div class="row home">
		<div class="col-lg-12 col-md-12 col-xs-12 Bandeau">
			<p>Régalez-vous, commandez des plats gastronomique</p>
			<span>Nom du site, permet aux estomcs exigeant d'être livré sur leur lieu de travail.</span>
			<div>
				<a href="{{ path('categorie_index') }}">Découvrir les plats</a>
				<a>Créer mon menu</a></a>
			</div>
		</div>
	</div>

	<div class="row plats_semaine">
		<div class="col-lg-12 col-md-12 col-xs-12 menu_choix">
			<h4>Plats de la semaine </h4>
			<h5>Découvrez la sélection de la semaine</h5>

			<div class="dessert1">
				<img class="plat-fav" src="{{ asset('img/favoris.png') }}">
				<img class="plat-pic" src="{{ asset('img/Salade/saint-jacques.jpg') }}">
				<a>Ajouter</a>
				<div>
					<span class="type">SALADE</span>
					<h4>SALADE DE SAINT JACQUE</h4>
					<span class="prix"><i class="fa fa-circle"></i>4€99</span>
					<p>Petite description du produit pour
						donner envie à l'utilisateur de
						découvrir le produit</p>
				</div>
			</div>

			<div class="dessert2">
				<img class="plat-fav" src="{{ asset('img/favoris.png') }}">
				<img class="plat-pic" src="{{ asset('img/Plat_chaud/tourte.jpg') }}">
				<a href="#">Ajouter</a>

				<div>
					<span class="type">ENTRÉE CHAUDE</span>
					<h4>TOURTE AUX LÉGUMES</h4>
					<span class="prix"><i class="fa fa-circle"></i>6€50</span>
					<p>Petite description du produit pour
						donner envie à l'utilisateur de
						découvrir le produit</p>
				</div>
			</div>

			<div class="dessert3">
				<img class="plat-fav" src="{{ asset('img/favoris.png') }}">
				<img class="plat-pic" src="{{ asset('img/Dessert/dessert-orange-food-chocolate-53468.jpg') }}">
				<a>Ajouter</a>

				<div>
					<span class="type">DESSERT</span>
					<h4>MUFFIN ORANGE/CHOCOLAT</h4>
					<span class="prix"><i class="fa fa-circle"></i>2€80</span>
					<p>Petite description du produit pour
						donner envie à l'utilisateur de
						découvrir le produit</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row relais">
		<div class="col-lg-12 col-md-12 col-xs-12 point_relais">
			<img src="{{ asset('img/bag.png') }}">
			<div>
				<p>Livraison</p>
				<span>Faites vous livrez dans nos points relais partenaire !</span>
				<input type="search" name="search_relais" placeholder="Trouvez un point relais...">
			</div>
		</div>

	</div>

	<div class="row plat-actu">
		<div class="col-lg-12 col-md-12 col-xs-12 menu_choix">

			<h4>Comment ça marche ?</h4>
			<h5>Choississez, commandez, déguster !</h5>

			<div class="infographie">
				<ul>
					<li>
						<img src="{{ asset('img/comment_ca_marche_03.jpg') }}">
						<h4>Inscrivez-vous sur Nom du site</h4>
						<p>Inscrivez-vous et choississez parmis des dizaines de plats soigneusement préparées pour vous</p>
					</li>
					<li><img src="{{ asset('img/trait1.png') }}"></li>
					<li>
						<img src="{{ asset('img/comment_ca_marche_07.jpg') }}">
						<h4>Choississez parmis des dizaines de plats</h4>
						<p>Inscrivez-vous et choississez parmis des dizaines de plats soigneusement préparées pour vous</p>
					</li>
					<li><img src="{{ asset('img/trait2.png') }}"></li>
					<li>
						<img src="{{ asset('img/comment_ca_marche_10.jpg') }}">
						<h4>Dégustez votre repas au travail</h4>
						<p>Inscrivez-vous et choississez parmis des dizaines de plats soigneusement préparées pour vous</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row plat-actu">
		<div class="col-lg-12 col-md-12 col-xs-12 menu_choix">
			<h4>Actualité </h4>
			<h5>Toute l'actualité autour du bien-être et de la nourriture</h5>
			<div class="dessert1">
				<img class="plat-pic" src="{{ asset('img/Dessert/flan-choco.jpg') }}">
				<div class="actu-choix">
					<span class="type">IDÉE DE RECETTE</span>
					<h4>IDÉE DE LA SEMAINE N8</h4>
					<p>Cette semaine nous allons découvrir la recette du flan au chocolat... Découvrez les ingrédients</p>
					<a>En savoir plus</a>
				</div>
			</div>
			<div class="dessert2">
				<img class="plat-pic" src="{{ asset('img/Dessert/saint-valentin.jpg') }}">
				<div class="actu-choix">
					<span class="type">IDÉE DE RECETTE</span>
					<h4>PRÉPARER LA SAINT-VALENTIN</h4>
					<p>Cette semaine nous allons découvrir la recette du flan au chocolat... Découvrez les ingrédients</p>
					<a>En savoir plus</a>
				</div>
			</div>

			<div class="dessert3">
				<img class="plat-pic" src="{{ asset('img/Dessert/sainement.jpg') }}">
				<div class="actu-choix">
					<span class="type">IDÉE DE RECETTE</span>
					<h4>COMMENT MANGER PLUS SAINEMENT ?</h4>
					<p>Cette semaine nous allons découvrir la recette du flan au chocolat... Découvrez les ingrédients</p>
					<a>En savoir plus</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row plat-actu">
		<div class="col-lg-12 col-md-12 col-xs-12 menu_choix">

			<h4 class="partenaire-title">Partenaires </h4>
			<h5>Nos entreprises partenaires commande déjà sur Nom du site.fr</h5>

			<div class="partenaires">
				<ul>
					<li><img src="{{ asset('img/logo-willemse.jpg') }}"></li>
					<li><img src="{{ asset('img/3Suisses.jpg') }}"></li>
					<li><img src="{{ asset('img/scottage_logo-sans-fond.png') }}"></li>
					<li><img src="{{ asset('img/locasun.png') }}"></li>
					<li><img src="{{ asset('img/cache.png') }}"></li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
