{% extends 'frontoffice/pageCategoriesProduits.html.twig' %}

{% block filtreType %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <input type="submit" value="Rechercher">
    {{ form_end(form) }}
{% endblock %}

{% block produits %}
    <div class="row home">
			<div class="col-lg-12 col-md-12 col-xs-12 Filtre">
				<ul class="filtre_menu">
					<li>
						<select>
							<option class="type_select">SALADES</option>
							<option>ENTRÉE</option>
							<option>ENTRÉE CHAUDE</option>
							<option>PLATS CHAUD</option>
							<option>SOUPES</option>
							<option>DESSERTS</option>
							<option>BOISSONS</option>
						</select>
					</li>
					<li>
						<select>
						    {% for categorie in categories %}
							<option>{{ categorie.nom }}</option>
							{% endfor %}
						</select>
					</li>
					<li>
						<i class="fa fa-refresh" aria-hidden="true"></i><span><a>RÉINITIALISER LES FILTRES</a></span>
					</li>
					<li>
						<input class="filtre_aller" type="checkbox" name="allergenes"><label>Prendre en compte mes allérgènes</label>
					</li>
				</ul>
			</div>
		</div>
    <div class="row plats_semaine">
			<div class="col-lg-12 col-md-12 col-xs-12 menu_choix">
				<h4>Liste Produits</h4>
				<h5>De la simple salade, à la salade composée, découvrez nos produits</h5>
				<div class="search_bloc">
					<input type="text" name="produit_search" placeholder="Rechercher un plat, une boisson...">
				</div>
				{% for produit in produits %}
                    {% if produit in categorie.produits %}
                    {% if loop.index == 6 %}
                        <div class="dessert position_plat">

                            <div class="livraison_menu">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h4>CHOISSISEZ VOTRE POINT DE LIVRAISON</h4>
                                <p>Vous n'avez pas encore définis de point de livraison</p>
                                <a class="add_livraison" href="#">Ajoutez un point de livraison</a>
                            </div>

                        </div>
                    {% endif %}
                    {% if loop.index == 9 %}
                        <div class="dessert position_plat">
                            <div class="livraison_menu">
                                <i class="fa fa-building-o" aria-hidden="true"></i>
                                <h4>BREAKZONE</h4>
                                <p>Zone dédiée à la promotion d'autre catégorie, aux différentes réductions, mais aussi aux différents services de l'entreprise</p>
                            </div>
                        </div>
                    {% endif %}
                        <div class="dessert position_plat">
                            {% if produit.quantite < 1 %}<p class="plus_dispo">Victime de son succès, ce plat n'est plus disponible</p>{% endif %}
                            <img class="plat-pic{% if produit.quantite < 1 %} indispo{% endif %}" src="{{ asset('produits/'~produit.image) }}">
                            <a class="ajoutPanier" data-url="{{ path('ajout_panier', {'produit': produit.id}) }}" data-id="{{ produit.id }}">Ajouter</a>
                            <div>
                                <span class="type">{{ produit.type|upper }}</span>
                                <h4>{{ produit.nom|upper }}</h4>
                                <span class="prix">
                                {% if produit.quantite > 0 %}<i class="fa fa-circle"></i>{% else %}<i class="fa fa-circle rouge"></i>{% endif %}
                                {{ produit.prix }}€</span>
                                <p>{{ produit.description|raw }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
    {#<section>#}
        {#{% for produit in produits %}#}
            {#{% if produit in categorie.produits %}#}
            {#<table>#}
            {#<tr>#}
                {#<td>{{ produit.nom }}</td>#}
                {#<td>{{ produit.prix }}</td>#}
                {#<td>{% if produit.image == "" %}#}
                        {#Aucune image#}
                    {#{% else %}#}
                        {#<img src=" {{ asset('produits/' ~ produit.image ) }} " style="width: 10%; height: auto"></img>#}
                    {#{% endif %}#}
                {#</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('produit_show', { 'id': produit.id }) }}">Voir</a>#}
                        {#</li>#}
                            {#<li>#}
                                {#<button class="ajoutPanier" data-url="{{ path('ajout_panier', {'produit': produit.id}) }}" data-id="{{ produit.id }}" >ajouter au panier</button>#}
                            {#</li>#}


                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
            {#</table>#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#</section>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function(){

            $('.ajoutPanier').on('click', function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                var id = $(this).data('id');

                console.log('click');
                console.log(url);
                $(this).load(url);
                $(this).prop('disabled', true);
            }) ;
        });
    </script>
{% endblock %}