{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}
    <section>
        <div class="menu_top_cms">
            <h1>Livraison - {{ livraisons|length }}</h1>
            <a class="btn_01" href="{{ path('livraison_new') }}">Ajouter une livraison</a>
        </div>

    <div class="cellule_background_cms">
        <table>
            <tr>
                <td><strong>Produit</strong></td>
                <td><strong>Point Relais</strong></td>
                <td><strong>Statut</strong></td>
                <td><strong>Date de livraison</strong></td>
                <td><strong>Actions</strong></td>
            </tr>
            {% for livraison in livraisons|sort|reverse %}
                <tr>
                    <td>{{ livraison.produit.nom }}</td>
                    <td>{{ livraison.pointRelais.nom }}</td>
                    {% if livraison.statut == "livré" %}
                        <td style="color:green"><strong>Livré</strong></td>
                    {% else %}
                        <td style="color:red"><strong>Non livré</strong></td>
                    {% endif %}
                    <td>{{ livraison.date|date('d/m/Y') }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('livraison_edit', { 'id': livraison.id }) }}"><img class="sizePicto" src="{{ asset('img/edit.svg') }}"></a>
                            </li>
                            <li>
                                <a href="{{ path('livraison_delete_link', { 'id': livraison.id }) }}" onclick="return confirm('Voulez-vous vraiment le supprimer ?')"><img class="sizePicto" src="{{ asset('img/delete.svg') }}"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </section>
{% endblock %}
