{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}
    <section>
        <div class="menu_top_cms">
            <h1>Livraison - {{ livraisons|length }}</h1>
            <a class="btn_01" href="{{ path('livraison_new') }}">Ajouter une livraison</a>
        </div>

        <div class="cellule_40_cms">
            <table>
                <tr>
                    <td><strong>Livreur</strong></td>
                    <td><strong>Point de livraison</strong></td>
                </tr>
                {% for point in pointRelais %}
                    <tr>
                        <td>{{ point.user.nom }}</td>
                        <td>{{ point.nom }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('relais_edit', { 'id': point.id }) }}"><img class="sizePicto" src="{{ asset('img/edit.svg') }}"></a>
                                </li>
                                <li>
                                    <a href="{{ path('relais_delete', { 'id': point.id }) }}" onclick="return confirm('Voulez-vous vraiment le supprimer ?')"><img class="sizePicto" src="{{ asset('img/delete.svg') }}"></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <div class="cellule_60_cms">
        <table>
            <tr>
                <td><strong>nom produit</strong></td>
                <td><strong>date livraison</strong></td>
                <td><strong>nom point relais</strong></td>
                <td><strong>Actions</strong></td>
            </tr>
            {% for livraison in livraisons %}
                <tr>
                    <td>{{ livraison.produit.nom }}</td>
                    <td>{{ livraison.date|date('d-m-Y') }}</td>
                    <td>{{ livraison.pointRelais.nom }}</td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('livraison_edit', { 'id': livraison.id }) }}"><img class="sizePicto" src="{{ asset('img/edit.svg') }}"></a>
                            </li>
                            <li>
                                <a href="{{ path('livraison_delete', { 'id': livraison.id }) }}" onclick="return confirm('Voulez-vous vraiment le supprimer ?')"><img class="sizePicto" src="{{ asset('img/delete.svg') }}"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </section>
{% endblock %}
