{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="container">
		<p> username : {{ app.user.username }} </p>
		<div>
			<h2>Historique des commandes</h2>
			{% for commande in user.commandes %}
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" class="commande" data-id="{{ commande.id }}">
									Commande n°{{ commande.id }} | {{ commande.date | date('d-m-y') }} | 0€
								</a>
							</h4>
						</div>
						<div id="{{ commande.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" style="display:none">
							<div class="panel-body">

								<h2>Produits</h2>

									<table class="table">
										<thead>
										<tr>
											<th>Nom</th>
											<th>Quantité commandée</th>
											<th>Prix</th>
										</tr>
										</thead>
										<tbody>
											{% for commandeProduit in commande.commandesProduit %}
												<tr>
													<td>{{ commandeProduit.produits.nom }}</td>
													<td>{{ commandeProduit.quantiteCommandee }}</td>
													<td>{{ commandeProduit.produits.prix }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>


								<h2>Menus</h2>

									<table class="table">
										<thead>
										<tr>
											<th>entree</th>
											<th>plat</th>
											<th>dessert</th>
											<th>boisson</th>
											<th>Quantité commandée</th>
											<th>Prix</th>
										</tr>
										</thead>
										<tbody>
										{% for commandeMenu in commande.commandesMenu %}
											{% for menu in array %}
												{% if commandeMenu.id == menu.id_commandeMenu %}
													<tr>
														<td>{% if menu.entree is not null %}{{ menu.entree.nom }}{% else %} NULL {% endif %}</td>
														<td>{% if menu.plat is not null %}{{ menu.plat.nom }}{% else %} NULL {% endif %}</td>
														<td>{% if menu.dessert is not null %}{{ menu.dessert.nom }}{% else %} NULL {% endif %}</td>
														<td>{% if menu.boisson is not null %}{{ menu.boisson.nom }}{% else %} NULL {% endif %}</td>
														<td>{{ commandeMenu.menus.quantite }}</td>
														<td>{{ commandeMenu.menus.prix }}</td>
													</tr>
												{% endif %}
											{% endfor %}
										{% endfor %}
										</tbody>
									</table>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}



