{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container infoPersonnelle">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <h1 class="title">Informations personnelles</h1>
                <p>Nom : <b>{{ app.user.nom }}</b></p>
                <p>Prénom : <b>{{ app.user.prenom }}</b></p>
                <p>Tél : <b>{{ app.user.telephone }}</b></p>
                <p>Mail : <b>{{ app.user.email }}</b></p>
                <p>Adresse du lieu de travail : <b>{{ app.user.adresse }}</b></p>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <p>Aide</p>
                <p>Comment ca marche</p>
                <p>Contacter le service client</p>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                    <div class="buttonPerso text-center">
                        <a href="{{ path('fos_user_change_password') }}" >Modifier mon mot de passe</a><br/>
                    </div>
                    <div class="buttonPerso text-center">
                        <a href="{{ path('fos_user_resetting_check_email') }}" >Modifier mon adresse mail et/ou pseudo</a>
                    </div>
                    <div class="buttonPerso text-center">
                        <a href="{{ path('profile_edit_show') }}">Modifier mes informations</a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}



