{% extends 'frontoffice/base.html.twig' %}

{% block title %}Menu - Desserts{% endblock %}

{% block body %}
    <section>
        <div class="titleTop text-center">
            <h1>Desserts</h1>
            <h4>Aaaah la page des plus gourmands !</h4>
        </div>
        <div class="row plats_semaine" style="margin: 0 auto;">
            <div class="col-lg-12 col-md-12 col-xs-12 menu_choix">
                {% for produit in produits %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="showPlat">
                            <div class="showImgPlat">
                                <div class="overflowImg">
                                    <a href="" class="voir" data-toggle="modal" data-target="#myModal" data-url="{{ path('produit_panier_show', {'id': produit.id}) }}">
                                    <img class="img-responsive imgPlat" src="{{ asset('produits/'~produit.image) }}">
                                    </a>
                                </div>
                                <a class="addToCart" href="{{ path('menu_choix_dessert', { 'id': produit.id }) }}">Choisir</a>
                            </div>
                            <div class="showDescPlat">
                                <a href="" class="voir" data-toggle="modal" data-target="#myModal" data-url="{{ path('produit_panier_show', {'id': produit.id}) }}">
                                <p class="typeProduct">{{ produit.type|upper }}</p>
                                <div class="row">
                                    <h4 class="titleProduct col-lg-8 col-md-12 col-sm-12 col-xs-12">{{ produit.nom|upper }}</h4>
                                    {#<span class="prixProduct col-lg-3 col-md-6 col-md-6  col-xs-12 prix">{{ produit.prix|number_format(2, '.', ',')}}€</span>#}
                                    <span class="descProduit col-lg-12 col-md-12 col-md-12 col-xs-12">{{ produit.description|raw|slice(0,100)|raw }}...</span>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.voir').on('click', function (e) {
            e.preventDefault();
            var url = $(this).data('url');
            $('#modal-body').load(url);
        });
    </script>

{% endblock %}
