{% extends 'frontoffice/base.html.twig'%}

{% block head %}{% endblock %}

{% block footer %}
    <div class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12 infos_footer">

                    <h2>L'amour Food</h2>
                    <p>L’amour Food livre des plats gastronomiques, chaque semaine découvrez différents plats confectionnés dans notre atelier avec des produits de qualité. Commandez dès maintenant.</p>

                </div>
                <div class="col-lg-3 col-md-8 col-xs-6 infos_footer hideMobile">
                    <h3>Menu les mieux notés</h3>
                    <ul class="best_menu">
                        <li>
                            <img src="#">
                            <h4><a href="#">Poulet au pot</a></h4>
                            <ul>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star glyphicon-star-off"></li>
                            </ul>
                        </li>
                        <li>
                            <img src="">
                            <h4><a href="#">Poulet au pot</a></h4>
                            <ul>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                            </ul>
                        </li>
                        <li>
                            <img src="">
                            <h4><a href="#">Poulet au pot</a></h4>
                            <ul>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                                <li class="glyphicon glyphicon-star"></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-8 col-xs-6 infos_footer hideMobile">
                    <h3>Catégories</h3>
                    <ul class="Categories">
                        <li><a href="#">Entrées</a></li>
                        <li><a href="#">Plats</a></li>
                        <li><a href="#">Desserts</a></li>
                        <li><a href="#">Boissons</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-8 col-xs-12 newsletter">
                    <ul class="news_images">
                        <li><img style="width:50px; height: 50px;" src="{{ asset('img/facebook.svg') }}"></li>
                        <li><img style="width:50px; height: 50px;" src="{{ asset('img/twitter.svg') }}"></li>
                        <li><img style="width:50px; height: 50px;" src="{{ asset('img/instagram.svg') }}"></li>
                        <li><img style="width:50px; height: 50px;" src="{{ asset('img/google.svg') }}"></li>
                    </ul>

                    <h4>Newsletter</h4>

                    <input type="email" name="Mail" placeholder="Email">

                    <a href="#">OK</a>

                    <p>Recevez toutes les informations, les recettes, etc...</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-8 col-xs-12">

                    <p class="copyright">2017 L’amour Food - Tous droits réservés</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-xs-12">
                    <ul class="paiement">
                        <li> <a href="#"><img src="{{ asset('img/cb.jpg') }}"></a> </li>
                        <li> <a href="#"><img style="width:41px;height:24px;" src="{{ asset('img/paypal.svg') }}"></a> </li>
                        <li> <a href="#"><img src="{{ asset('img/visa.jpg') }}"></a> </li>
                        <li> <a href="#"><img src="{{ asset('img/master_card.jpg') }}"></a> </li>
                    </ul>
                    <ul class="mentions_legales">
                        <li> <a href="{{ path("conditions_ventes") }}">Conditions générales de vents</a> </li>
                        <li> <a href="{{ path("mentions_legales") }}">Mentions légales</a> </li>
                        <li> <a href="#">Aide</a> </li>
                        <li> <a href="#">Contact</a> </li>
                    </ul>
                </div>

            </div>
        </div>
{% endblock %}