<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}L'Amour Food{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-theme.min.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
            <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
            <script>tinymce.init({ selector:'.tiny',setup: function (editor) {
                    editor.on('change', function () {
                        editor.save();
                    });
                }});</script>
        {% endblock %}
    </head>

    <body class="livraison">
        <div class="container-fluid">
            <div class="blockLivraison center-block">
                <img class="logo" src="{{ asset('img/logo.svg') }}" alt="logo">
            </div>
        </div>
    </body>
</html>


