<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}L'Amour Food{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-theme.min.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
            <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
            <script>tinymce.init({ selector:'.tiny',setup: function (editor) {
                    editor.on('change', function () {
                        editor.save();
                    });
                }});</script>
        {% endblock %}
    </head>

    <body class="livraison">
        <script>
                function sendRequest(id){
                    console.log(id);
                    $.ajax({
                        url : '{{ path('admin_livreur_validation') }}',
                        type : 'POST',
                        data : 'id='+id,
                        dataType : 'html',
                        success : function(code_html, statut){ // success est toujours en place, bien sûr !
                            $('#livraison-'+id).empty()
                            $('#livraison-'+id).html('<img class="tickValidation" src="{{ asset('img/tick_livraison.svg') }}">')//mettre le tick a la place du ok
                        },
                        error : function(resultat, statut, erreur){
                            console.log("Erreur ajax");
                        }
                    });
                }
        </script>
        <div class="container-fluid">
            <div class="blockLivraison center-block">
                <img class="logo center-block" src="{{ asset('img/logo.svg') }}" alt="logo">
                {% for pointRelais in relais %}
                    {% set ite = loop.index %}
                    <ul style="clear: both;">
                        <li style="margin-top: 50px;"><h3><b>{{ pointRelais.nom }}</b></h3></li>
                            {% for produit in produits %}
                                {% if loop.index == ite %}
                                    {% for p in produit %}
                                        {% if p.date|date('m/d/Y') == dateNow|date('m/d/Y') %}
                                            <li style="clear: both;"><p class="titleLivreurProduit">{{ p.produit.nom }} : {{ p.quantite }}</p>{% if p.statut =="non livré" %}<span id="livraison-{{ p.id }}" onclick="sendRequest({{ p.id }})" class="okButton">OK</span>{% else %}<span class="okButton"><img class="tickValidation" src="{{ asset('img/tick_livraison.svg') }}"></span>{% endif %}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                    </ul><br>
                {% endfor %}
            </div>
        </div>
    </body>
</html>


