{% extends 'frontoffice/footer.html.twig' %}

{% block body %}
    <h1>Commentaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaire.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_show', {'id': commentaire.article.id, 'titre': commentaire.article.slug}) }}">Retour à l'article</a>
        </li>
        <li>
            <a href="{{ path('commentaire_edit', { 'id': commentaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire ?')">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
