{% extends 'base.html.twig' %}
{% block menuAdmin %}
    <aside>

        <ul>
            <li><a>Tableau de board</a></li>
            <li><a href="{{ path("admin_index") }}">Utilisateurs</a></li>
            <li><a href="{{ path("admin_categorie_index") }}">Categories</a></li>
            <li><a href="{{ path("admin_allergene_index") }}">Allergènes</a></li>
            <li><a href="{{ path("produit_index_admin") }}">Produits</a></li>
            <li><a>Boutiques</a></li>
            <li><a>Offres promo</a></li>
            <li><a href="{{ path('admin_blog_index')}}">Articles</a></li>
            <li><a>Commandes du site</a></li>
            <li><a>Livraison</a></li>
            <li><a>Préférences système</a></li>
        </ul>
    </aside>
{% endblock %}