{% extends 'menuAdmin.html.twig' %}

{% block body %}
    <section>
        <div class="menu_top_cms">
            <h1>Catégories</h1>
        </div>


        <div class="cellule_60_cms">
            <table>
                <tr>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Action</td>
                </tr>
                {% for allergene in allergenes %}
                    <tr>
                        <td>{{allergene.id}}</td>
                        <td>{{allergene.nom}}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_allergene_edit',{'id': allergene.id})}}"><img class="sizePicto" src="{{ asset('img/edit.svg') }}"></a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_allergene_show',{'id': allergene.id})}}"><img class="sizePicto" src="{{ asset('img/profile.svg') }}"></a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_allergene_delete_index',{'id': allergene.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie ? (Les produits associés ne seront pas supprimés.)')"><img class="sizePicto" src="{{ asset('img/delete.svg') }}"></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="cellule_40_cms">
            {{ form_start(form) }}
            <label>Nom de la catégorie</label>
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}

            <button class="button_p" type="submit">Ajouter l'allergène</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}


{# 

#}

