{% extends 'base.html.twig' %}

{% block body %}
<section>
	{% if app.user is null %}<a href="{{ path('fos_user_security_login') }}"><h2>Connexion</h2></a>{% endif %}

	{% if app.user is null %}<a href="{{ path('fos_user_registration_register') }}"><h2>S'inscrire</h2></a>{% endif %}

	{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('admin_index') }}"><h2>Admin backoffice</h2></a>{% endif %}

    {% if app.user is not null %}<a href="{{ path('fos_user_profile_show') }}"><h2>Profile</h2>{% endif %}</a>

	<a href="{{ path('blog_index') }}"><h2>Blog</h2></a>

	<a href="{{ path('categorie_index') }}"><h2>Les catégories et leurs produits</h2></a>

    {% if app.user is not null %} <a href="{{ path('fos_user_security_logout') }}"> <h2>Déconnexion</h2>{% endif %}</a>
</section>
{% endblock %}
