{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}
    <section>
        <h1>Categorie : {{categorie.nom}}</h1>
        <a class="btn_01" href="{{path('admin_categorie_index')}}">Retour</a>
        <div class="cellule_background_cms">

            <h3>Image :</h3>
            {% if categorie.image == "" %}
                <p>Aucune image</p>
            {% else %}
                <img src=" {{ asset('categories/' ~ categorie.image ) }} " style="width: 10%; height: auto"></img>
            {% endif %}

            <h3>Description</h3>
            {{categorie.description}}
        </div>

        <div class="cellule_background_cms">
            <h3>Les produits associés</h3>

            <table>
                <tr>
                    <td><strong>Id</strong></td>
                    <td><strong>Nom</strong></td>
                    <td><strong>Date Peremption</strong></td>
                    <td><strong>Prix</strong></td>
                    <td><strong>Quantite</strong></td>
                    <td><strong>Actions</strong></td>
                </tr>
                {% for produit in categorie.produits %}
                    <tr>
                        <td>{{ produit.id }}</td>
                        <td>{{ produit.nom|length > 20 ? produit.nom|slice(0, 20) ~ '...' : produit.nom }}</td>
                        <td>{% if produit.datePeremption %}{{ produit.datePeremption|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.quantite }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('produit_show_admin', { 'id': produit.id }) }}">Voir</a>
                                </li>
                                <li>
                                    <a href="{{ path('produit_edit', { 'id': produit.id }) }}">Modifier</a>
                                </li>
                                <li>
                                    <a href="{{ path('categorie_enlever_produit', { 'produit': produit.id, 'categorie': categorie.id }) }}" onclick="return confirm('Voulez-vous vraiment enlever ce produit de la catégorie ?')">Enlever</a>
                                </li>
                                <li>
                                    <a href="{{ path('produit_delete_index', { 'id': produit.id }) }}" onclick="return confirm('Voulez-vous vraiment le supprimer ?')">Supprimer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>




    </section>


{% endblock %}
