{% extends 'menuAdmin.html.twig' %}

{% block body %}
    <section>
        <div class="menu_top_cms">
            <h1>Catégories</h1>
        </div>

        
        <div class="cellule_60_cms">
            <table>
                <tr>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Action</td>
                </tr>
                {% for categorie in categories %}
                    <tr>
                        <td>{{categorie.id}}</td>
                        <td>{{categorie.nom}}</td>
                        <td>
                            <ul>
                                <li>   
                                    <a href="{{ path('admin_categorie_edit',{'id': categorie.id})}}">Modifier</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_categorie_show',{'id': categorie.id})}}">Voir</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="cellule_40_cms">
            {{ form_start(form) }}
            <label>Nom de la catégorie</label>
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}

            <label>Description</label>
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
            <button class="button_p" type="submit">Ajouter la catégorie</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}


{# 

#}

