{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}

    <section class="dashboard" style="width:70%;">
        <h1>Tableau de bord</h1>
        <div class="dashboardCommande">
            <h4 class="dashboardTitre">Commande du jour<span class="dashboardNbCommande">{{ commandeJour|length }}</span></h4>
            {% for cd in commandeJour %}
                {% if loop.index <5 %}
                    <div class="dashboardRemember">
                        <p class="dashboardCommandeName">{{ cd.user.nom }} {{ cd.user.prenom }}</p>
                        <span class="dashboardSpan">{{ cd.adresse }}</span>
                        <span class="dashboardSpanPrix">{{ cd.prix }}€</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="dashboardRevenu">
            <h4 class="dashboardTitre dashboardCA">Chiffre d'affaire du mois</h4>
            <div class="dashboardRevenuLeft">
                <p class="dashboardRevenuP">Revenus</p>
                <h4 class="dashboardMonthPrice">
                    {% set revenu = 0 %}
                    {% for cd in commandeMois %}
                        {% set revenu = revenu + cd.prix %}
                    {% endfor %}
                    {{ revenu }}€
                </h4>
                <p class="dashboardMonthPercent">+{{ (statRevenu)|number_format(0, '.', ',') }}%</p>
            </div>
            <div class="dashboardRevenuRight">
                <p class="dashboardRevenuP">Vente</p>
                <h4 class="dashboardMonthPrice">{{ commandeMois|length }}</h4>
                <p class="dashboardMonthPercent">+{{ (statVente)|number_format(0, '.', ',') }}%</p>
            </div>
        </div>
        <div class="dashboardLine">
            <h4 class="dashboardTitre">Résumé sur l'année</h4>
            <canvas id="myChart" height="120px"></canvas>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script>
        $(document).ready(function(){
            stringRevenu = "{{ stringRevenu }}"
            stringRevenu = stringRevenu.substring(0,stringRevenu.length-1);
            stringVentes = "{{ stringVentes }}"
            stringVentes = stringVentes.substring(0,stringVentes.length-1);

            stringRevenu = stringRevenu.split("-");
            stringVentes = stringVentes.split("-");

            console.log(stringRevenu);
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre','Novembre', 'Décembre'],
                    datasets: [{
                        label: 'Revenu',
                        data: stringRevenu,
                        backgroundColor: "transparent",
                        borderColor : "#f32063"
                    }, {
                        label: 'Ventes',
                        data: stringVentes,
                        backgroundColor: "transparent",
                        borderColor : "#4BC0C0"
                    }]
                }
            });
        })
    </script>
{% endblock %}
