{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pointrelai</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pointRelai.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pointRelai.nom }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ pointRelai.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ pointRelai.longitude }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if pointRelai.createdAt %}{{ pointRelai.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if pointRelai.updatedAt %}{{ pointRelai.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pointrelais_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pointrelais_edit', { 'id': pointRelai.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
