<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}L'Amour Food{% endblock %}</title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('js/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
        <script>tinymce.init({ selector:'.tiny',setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }});</script>
    {% endblock %}
</head>
<body>

<header>
    <a href="{{ path('homepage')}}" ><img class="logo_cms" style="height:45px; width:150px;" src="{{ asset('img/logo_top_CMS.png') }}"></a>
    {% if app.user is not  null %}
        <div>
            <img class="pictoNavbar" src="{{ asset('users/' ~ app.user.image) }}">

            <span>{{ app.user.username }}</span><br>
            <span>{% if app.user.roles.0=="ROLE_ADMIN" %}
                    Administrateur
                {% else %}
                    Utilisateur
                {% endif %}
                </span>
        </div>

        <ul>
            <li><a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('img/deconnexion-ico.svg') }}" type="svg"></a></li>
        </ul>
    {% endif %}

    {% if app.user is null %}
        <ul>
            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            <li><a href="{{ path('blog_index') }}">Le blog</a></li>
        </ul>
    {% endif %}

</header>

{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="popUpError">
        {{ flash_message }}
    </div>
{% endfor %}

{% block menuAdmin %}{% endblock %}
{% block body %}{% endblock %}
<script>
    $(document).ready(function(){
        $('.popUpError').fadeIn();
    })
</script>
</body>
</html>

