{% extends 'backoffice/baseBack.html.twig' %}
{% block menuAdmin %}
    <aside>

        <ul>
            <li><a href="{{ path("admin_index") }}">Tableau de board</a></li>
            <li><a href="{{ path("admin_user") }}">Utilisateurs</a></li>
            <li><a href="{{ path("admin_categorie_index") }}">Categories</a></li>
            <li><a href="{{ path("admin_allergene_index") }}">Allergènes</a></li>
            <li><a href="{{ path("produit_index_admin") }}">Produits</a></li>
            <li><a href="{{ path("admin_point_relais_index") }}">Points relais</a></li>
            <li><a href="{{ path('admin_blog_index')}}">Articles</a></li>
            <li><a>Commandes du site</a></li>
            <li><a href="{{ path('admin_livreur_index') }}">Livreur</a></li>
            <li><a href="{{ path('livraison_index') }}">Livraison</a></li>
        </ul>
    </aside>
{% endblock %}