{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}
    <section>
        <h1>Modifier un article</h1>
        <a class="btn_01" href="{{path('admin_blog_index')}}">Retour</a>
        <div class="cellule_background_cms">

            {{ form_start(edit_form) }}

                <label>Titre</label>
                {{ form_widget(edit_form.titre) }}
                {{ form_errors(edit_form.titre) }}

                <label>Contenu</label>
                {{ form_widget(edit_form.contenu,{ 'attr':{ 'class': 'tiny'}})}}
                {{ form_errors(edit_form.contenu) }}

                <br>

                <label>Contenu de la balise meta description</label>
                {{ form_widget(edit_form.metadescription)}}
                {{ form_errors(edit_form.metadescription) }}

                <label>Image</label>
                {{ form_widget(edit_form.file)}}
                {{ form_errors(edit_form.file) }}

                <button class="button_p" type="submit">Modifier l'article</button>

            {{ form_end(edit_form) }}
        </div>

        <div class="cellule_background_cms">
            <h3>Les commentaires</h3>

            {% for com in article.commentaires %}
                <p>Auteur: {{ com.auteur }}</p>
                <p>{{ com.contenu }}</p>
                <a href="{{ path('commentaire_delete_delete', {'id': com.id }) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire ?')">Supprimer</a>
                <br>
            {% endfor %}

        </div>
    </section>
{% endblock %}
