{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}
<section>
    <h1>Créer un article</h1>
    <div class="cellule_background_cms">
        {{ form_start(form) }}
                <label>Titre</label>
                {{ form_widget(form.titre) }}
                {{ form_errors(form.titre) }}

                <label>Contenu</label>
                {{ form_widget(form.contenu, { 'attr': { 'class': 'tiny'}}) }}
                {{ form_errors(form.contenu) }}

                <br>
                <label>Contenu de la balise meta description</label>
                {{ form_widget(form.metadescription) }}
                {{ form_errors(form.metadescription) }}

                <label>Image</label>
                {{ form_widget(form.file)}}
                {{ form_errors(form.file) }}

                <button class="button_p" type="submit">Créer l'article</button>
        {{ form_end(form) }}
    </div>

</section>
{% endblock %}
