{% extends 'menuAdmin.html.twig' %}

{% block body %}
    <section class="user_content" id="user_profile">
        
        <content>

        <div class="nav_pos">
            <h1>Modifier un utilisateur</h1> 
            <!--<p>(4)</p>-->
        </div>

        <div class="user_interact">
            <a href="{{ path('admin_index') }}" ><button class="button_p">Retour<img type="svg" src="{{ asset('img/puce-right.svg') }}"></button></a>

            <!--<input type="text" name="search" placeholder="Search..."></input>-->

        </div>
            
        </content>
    <container>
    <div class="user_form">
    {{ form_start(edit_form) }}

        <label>Nom</label>
        <label id="user_lastname">Prénom</label>
        <div id="user_fl">                  
            {{ form_widget(edit_form.nom) }}
            {{ form_errors(edit_form.nom) }}

            {{ form_widget(edit_form.prenom) }}
            {{ form_errors(edit_form.prenom) }}
        </div>
        
        <label>Username</label>
        <div id="user_mail">
            {{ form_widget(edit_form.username, {'id':'user_mail'}) }}
            {{ form_errors(edit_form.username) }}   
        </div>

        <label>Image</label>
        <div id="user_adress">
            {{ form_widget(edit_form.image) }}
            {{ form_errors(edit_form.image) }}
        </div>
        
        <label>Email</label>
        <div id="user_mail">
            {{ form_widget(edit_form.email) }}
            {{ form_errors(edit_form.email) }}
        </div>

        <label>Téléphone</label>
        <div id="user_tel">
            {{ form_widget(edit_form.telephone) }}
            {{ form_errors(edit_form.telephone) }}
        </div>

        <label>Mot de passe</label>
        <div id="user_password">
            {{ form_widget(edit_form.plainPassword.first) }}
            {{ form_errors(edit_form.plainPassword.first) }}
        </div>

        <label>Retapez votre mot de passe</label>
        <div id="user_password">
            {{ form_widget(edit_form.plainPassword.second) }}
            {{ form_errors(edit_form.plainPassword.second) }}
        </div>
        

        <input class="button_m" type="submit" value="Modifier l'utilisateur" />
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <input class="button_m" type="submit" value="Delete">
    {{ form_end(delete_form) }}
    <div>
    </container>

    </section>

{% endblock %}
