{% extends 'frontoffice/base.html.twig' %}

{% block body %}
    <section class="user_content">
        <content>

            <div class="nav_pos">
                <h1>Panier</h1>
            </div>

            <div class="user_interact">
                retour
            </div>

        </content>

        <h2>  Produits : ({{ produits|length }})</h2>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                {% if produit[1] != 0  %}
                <tr id="{{ produit[0].id }}">
                    <td>{{ produit[0].nom }}</td>
                    <td>{{ produit[0].prix }}</td>
                    <td> {% if produit[0].image == "" %}
                            Aucune image
                        {% else %}
                            <img src=" {{ asset('produits/' ~ produit[0].image ) }} " style="width: 10%; height: auto"></img>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('produit_show', { 'id': produit[0].id }) }}">show</a>
                            </li>
                            <li><button class="btn btn-info btn-small voir" data-toggle="modal" data-target="#myModal" data-url="{{ path('produit_panier_show', { 'id': produit[0].id }) }}"  >Voir</button>
                            </li>
                            <li>
                                <button class="gestion_panier" data-url="{{ path('retrait_exemplaire_panier', {'produit': produit[0].id}) }}" data-id="{{ produit[0].id }}">-</button> <i class="quantite-{{ produit[0].id }}" data-id="{{ produit[0].id }}">{{ produit[1] }}</i> <button class="gestion_panier" data-url="{{ path('ajout_exemplaire_panier', {'produit': produit[0].id}) }}" data-id="{{ produit[0].id }}">+</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <h2>  Menus : ({{ menus|length }})</h2>
        <table>
            <thead>
            <tr>
                <th>entree</th>
                <th>plat</th>
                <th>dessert</th>
                <th>boisson</th>
                <th>nombre</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in menus %}
                {% if produit[1] != 0  %}
                <tr id="{{ produit[0].id }}">
                    <td>{{ produit[0].entree }}</td>
                    <td>{{ produit[0].plat }}</td>
                    <td>{{ produit[0].dessert }}</td>
                    <td>{{ produit[0].boisson }}</td>
                    <td>{{ produit[1] }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('produit_show', { 'id': produit[0].id }) }}">show</a>
                            </li>
                            <li>
                                <a>Modifier le menu</a>
                            </li>
                            <li>
                                <button class="gestion_panier" data-url="{{ path('retrait_exemplaire_menu_panier', {'menu': produit[0].id}) }}" data-id="{{ produit[0].id }}">-</button> <i class="quantite-{{ produit[0].id }}" data-id="{{ produit[0].id }}">{{ produit[1] }}</i> <button class="gestion_panier" data-url="{{ path('ajout_exemplaire_menu_panier', {'menu': produit[0].id}) }}" data-id="{{ produit[0].id }}">+</button>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </section>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">

        $('.voir').on('click', function (e) {
            e.preventDefault();
            var url = $(this).data('url');

            $('#modal-body').load(url);
        });

        $('.gestion_panier').on('click', function (e) {
            e.preventDefault();
            var url = $(this).data('url');
            var id = $(this).data('id');

            var res = $('.quantite-' + id).load(url, function(){
                if(res.text() == "0")
                {
                    console.log('oui');
                    $('#' + id).css('display', 'none');
                }
            });
        }) ;


    </script>

{% endblock %}

