{% extends 'frontoffice/footer.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <script type="application/javascript">
    var sousTotal = 0.0;
    var tabPrice = [];
    var total = 0.0;
    var livraison = 5.0;
</script>
    <script>
        $(document).ready(function(){
            secondes = -1
            heures = -1
            minutes = -1
            seconds = 36000 ;
            now = new Date();
            h = now.getHours();
            m = now.getMinutes();
            s = now.getSeconds();
            sTotal = s + 60*m + h*3600 ;
            seconds = seconds - sTotal;
            interval = setInterval(function(){
                secondes = seconds;
                heures = Math.floor(secondes / 60 / 60 % 60);
                minutes = Math.floor(secondes / 60 % 60);
                secondes = secondes % 60;
                seconds--;
                if(secondes < 0){
                    $('#reboursBase').html("Vous êtes en retard ! Vous ne pouvez plus commander pour aujourd'hui, nous vous invitons à choisir une autre date dans l'étape suivante !")
                }
                if(heures == 0){
                    $('#rebours').html(minutes+" minutes "+secondes+" secondes")
                }else{
                    if(minutes == 0){
                        $('#rebours').html(secondes+" secondes")
                    }else{
                        $('#rebours').html(heures+" heures "+minutes+" minutes "+secondes+" secondes")
                    }
                }
            },1000);


        })


    </script>
<div class="panier">
    <div class="container">
        <div class="row">
            <div style="float: right;width: 25%;margin-top: 30px;">
                <div class="commande">
                    <p>Commandez avant 10h pour être livré le jour même, sinon vous serez livré le lendemain.</p>
                    <h4>Commande</h4>
                    <p>Sous-total : <span id="sousTotal" class="total">
                    <script type="application/javascript">
                        tabPrice.forEach(function (element) {
                            console.log(element);
                            sousTotal = sousTotal+element;
                        });
                        $('#sousTotal').text(sousTotal.toFixed(2)+"€");
                    </script> </span>
                    </p>
                    <p>Livraison : <span id="livraison" class="total">
                    <script type="application/javascript">
                        $('#livraison').text(livraison+"€");
                    </script>
                </span></p>
                    <div class="bar"></div>
                    <b><p>Total <span id="total"  class="total">
                    <script type="application/javascript">
                        total = (sousTotal + livraison);
                        $('#total').text(total.toFixed(2)+"€");
                    </script>
                </span></p></b>

                    <a href="{{ path('commande_index') }}" class="commander">Passer la commande</a>
                    <a class="continue" href="{{ path('produit_index') }}">Continuer mes achats</a>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                <h1>Votre panier</h1>
                <div class="timerPanier">
                    <p id="reboursBase">Vous souhaitez commander pour aujourd'hui ? Il ne vous reste plus que <strong id="rebours"></strong> pour commander !</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                <div class="produit">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img class="pictoGift" src="{{ asset('img/gift.svg') }}">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p class="phraseToMenu"><strong>Passez vos produits en menu et faites des économies sur votre commande</strong></p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a class="passToMenuButton" href="{{ path('do_menus') }}">
                            <div>
                                Passer en menu
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12">
                {% if menus|length != 0 %}
                <h2>Menus</h2>
                {% else %}
                {% endif %}
                {% for menu in menus %}
                    {% if menu["quantite"] != 0  %}
                    <div id="menuId-{{ menu["id"] }}" class="produit">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            {% if menu["type"] == 1 %}
                                {#<img class="imgSousProduit" src="{{ asset('img/menus/menu1.jpg') }}"/>#}
                                <img class="" style="width: 43%" src="{{ asset('produits/'~menu["entree"].image) }}"/>
                                <img class="" style="width: 43%"src="{{ asset('produits/'~menu["plat"].image) }}"/>
                                <img class="" style="width: 43%"src="{{ asset('produits/'~menu["dessert"].image) }}"/>
                                <img class="" style="width: 43%" src="{{ asset('produits/'~menu["boisson"].image) }}"/>
                            {% else %}
                                {% if menu["type"] == 2 %}
                                    <img class="imgSousProduit" src="{{ asset('img/menus/menu2.jpg') }}"/>
                                {% else %}
                                    <img class="imgSousProduit" src="{{ asset('img/menus/menu3.jpg') }}"/>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {% if menu["type"] == 1 %}
                                {#<h5>Menu petite faim</h5>#}
                                <h5>Menu</h5>
                            {% else %}
                                {% if menu["type"] == 2 %}
                                    <h5>Menu classique</h5>
                                {% else %}
                                    <h5>Menu complet</h5>
                                {% endif %}
                            {% endif %}
                            <h5>{{ menu["prix"] }}€</h5>
                            <a class="showMore" data-id="{{ menu["id"] }}">En savoir plus ...</a>
                        </div>
                        {#<div class="col-xs-7 col-sm-2 col-md-2 col-lg-2 divQuantite">#}
                            {#<img width="10px" src="{{ asset('img/chevronLeft.svg') }}" class="spanLeft gestion_panier" data-prix="{{ menu["prix"] }}" data-url="{{ path('retrait_exemplaire_menu_panier', {'menu': menu["id"]}) }}" data-id="{{ menu["id"] }}"/>#}
                            {#<div class="quantite">#}
                                {#<i id="qte" class="qte quantite-{{ menu["id"] }}" data-isproduit="false" data-id="{{ menu["id"] }}">{{ menu["quantite"] }}</i>#}
                            {#</div>#}
                            {#<img id="menuChevronSup-{{ menu["id"] }}" width="10px" src="{{ asset('img/chevronRight.svg') }}" class="spanRight gestion_panier" data-prix="{{ menu["prix"] }}" data-url="{{ path('ajout_exemplaire_menu_panier', {'menu': menu["id"]}) }}" data-id="{{ menu["id"] }}"/>#}
                        {#</div>#}
                        <div class="quantiteMenu-{{ menu["id"] }}"></div>
                        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 divPrix">
                            <h3 id="prixTotalMenu-{{ menu["id"] }}">
                               {# <script type="application/javascript">
                                    #}{#var prix = {{ menu["prix"] }};#}{#
                                    #}{#var qte = {{ menu["quantite"] }};#}{#
                                    #}{#var total = prix*qte;#}{#
                                    var total = {{ menu["prix"] }};
                                    tabPrice[String({{ menu["id"] }})] = total;
                                    $('#prixTotal-'+{{ menu["id"] }}).text(total+"€");
                                </script>#}
                                <script>
                                    tabPrice['10'+String({{ menu["id"] }})] = {{ menu["prix"] }};
                                </script>
                                {{ menu["prix"] |number_format(2, '.', ',') }}€
                            </h3>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 divDelete">
                            <img class="deleteMenu" width="20px" data-id="{{ menu["id"] }}" data-url="{{ path('delete_menu', {'menu': menu["id"]}) }}" src="{{ asset('img/cross.svg') }}"/>
                        </div>
                    </div>
                    <div class="row sousMenu" id="sousMenu-{{ menu["id"] }}" style="display: none">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <h5>Entrée</h5>
                            <h5>{% if menu["entree"] is not null %}<a class="voir" data-toggle="modal" data-target="#myModal" data-url="{{ path('produit_panier_show', {'id': menu["entree"].id}) }}">{{ menu["entree"].nom }}</a>{% else %}Non spécifié{% endif %}</h5>
                            {% if menu["entree"] is not null %}
                                <img class="imgSousProduit" src="{{ asset('produits/'~menu["entree"].image) }}"/>
                            {% else %}Non spécifié{% endif %}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <h5>Plat</h5>
                            <h5>{% if menu["plat"] is not null %}<a class="voir" data-toggle="modal" data-target="#myModal" data-url="{{ path('produit_panier_show', {'id': menu["plat"].id}) }}">{{ menu["plat"].nom }}</a>{% else %}Non spécifié{% endif %}</h5>
                            {% if menu["plat"] is not null %}
                                <img class="imgSousProduit" src="{{ asset('produits/'~menu["plat"].image) }}"/>
                            {% else %}Non spécifié{% endif %}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <h5>Dessert</h5>
                            <h5>{% if menu["dessert"] is not null %}<a class="voir" data-toggle="modal" data-target="#myModal" data-url="{{ path('produit_panier_show', {'id': menu["dessert"].id}) }}">{{ menu["dessert"].nom }}</a>{% else %}Non spécifié{% endif %}</h5>
                            {% if menu["dessert"] is not null %}
                                <img class="imgSousProduit" src="{{ asset('produits/'~menu["dessert"].image) }}"/>
                            {% else %}Non spécifié{% endif %}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                            <h5>Boisson</h5>
                            <h5>{% if menu["boisson"] is not null %}<a class="voir" data-toggle="modal" data-target="#myModal" data-url="{{ path('produit_panier_show', {'id': menu["boisson"].id}) }}">{{ menu["boisson"].nom }}</a>{% else %}Non spécifié{% endif %}</h5>
                            {% if menu["boisson"] is not null %}
                                <img class="imgSousProduit" src="{{ asset('produits/'~menu["boisson"].image) }}"/>
                            {% else %}Non spécifié{% endif %}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                {% if produits|length != 0 %}
                <h2>Produits</h2>
                {% else %}
                {% endif %}
                {% for produit in produits %}
                    {% if produit[1] != 0 %}
                <div id="produitId-{{ produit[0].id }}" class="produit produitMargin">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <img class="imgProduit voir" src="{{ asset('produits/'~produit[0].image) }}"/>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <h5>{{ produit[0].type | upper }}</h5>
                        <h4>{{ produit[0].nom }}</h4>
                        <h5>{{ produit[0].prix | number_format(2, '.', ',') }}€</h5>
                        <h5><a class="voir" data-toggle="modal" data-target="#myModal" data-url="{{ path('produit_panier_show', {'id': produit[0].id}) }}">En savoir plus ...</a></h5>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 divQuantite">
                        <img width="10px" src="{{ asset('img/chevronLeft.svg') }}" class="spanLeft gestion_panier" data-prix="{{ produit[0].prix }}" data-url="{{ path('retrait_exemplaire_panier', {'produit': produit[0].id}) }}" data-id="{{ produit[0].id }}"/>
                        <div class="quantite">
                            <i id="qte" class=" qte quantite-{{ produit[0].id }}" data-isproduit="true" data-id="{{ produit[0].id }}" data-quantite="{{ produit[0].quantite }}" data-quantitecurrent="{{ produit[1] }}">{{ produit[1] }}</i>
                        </div>
                        <img id="chevronSup-{{ produit[0].id }}" width="10px" src="{{ asset('img/chevronRight.svg') }}" class="spanRight gestion_panier" data-prix="{{ produit[0].prix }}" data-url="{{ path('ajout_exemplaire_panier', {'produit': produit[0].id}) }}" data-id="{{ produit[0].id }}"/>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 divPrix">
                        <h3 id="prixTotal-{{ produit[0].id }}">
                            <script type="application/javascript">
                                var prix = {{ produit[0].prix }};
                                var qte = {{ produit[1] }};
                                var total = prix*qte;
                                console.log("DANS PRODUIT: "+tabPrice['105']);
                                tabPrice[String({{ produit[0].id }})] = total;
                                $('#prixTotal-'+{{ produit[0].id }}).text(total.toFixed(2)+"€");
                            </script>
                        </h3>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 divDelete">
                        <img class="deleteProd" width="20px" data-id="{{ produit[0].id }}" data-url="{{ path('delete_produit', {'produit': produit[0].id}) }}" src="{{ asset('img/cross.svg') }}"/>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">

        $(".qte").each(function(){

            var quantite = $(this).data("quantitecurrent");
            var quantiteMax = $(this).data("quantite");
            var id = $(this).data('id');
            var isProduit = $(this).data('isproduit');

            if(quantite < quantiteMax ){
               if(isProduit == true)
               {
                   $('#chevronSup-'+id).removeAttr('style');
               }
               else
               {
                   $('#menuChevronSup-'+id).removeAttr('style');
               }
            }
            else
            {
                if(isProduit == true)
                {
                    $('#chevronSup-' + id).attr('style', 'display: none');
                }
                else
                {
                    $('#menuChevronSup-' + id).attr('style', 'display: none');
                }
            }
        });

        $('.voir').on('click', function (e) {
            e.preventDefault();
            var url = $(this).data('url');
            $('#modal-body').load(url);
        });

        $('.gestion_panier').on('click', function (e) {
            e.preventDefault();
            var url = $(this).data('url');
            var id = $(this).data('id');
            var prix = $(this).data('prix');

            var res = $('.quantite-' + id).load(url, function(){
                var quantiteMax = $(this).data('quantite');

                if(res.text() == "0")
                {
                    $('#produitId-' + id).fadeOut("slow");
                }

                total = prix*res.text();
                $('#prixTotal-'+id).text(total+"€");

                tabPrice[String(id)] = total;

                sousTotal = 0;
                tabPrice.forEach(function (element) {
                    sousTotal = sousTotal+element;
                });

                $('#sousTotal').text(sousTotal.toFixed(2)+"€");
                total = (sousTotal + livraison);
                $('#total').text(total.toFixed(2)+"€");

                var isProduit = $(this).data("isproduit");

                if(eval(quantiteMax + " < (" + $(this).text() + " + 1) "))
                {
                    if(isProduit == true)
                    {
                        $('#chevronSup-' + id).attr('style', 'display: none');
                    }
                    else
                    {
                        $('#menuChevronSup-' + id).attr('style', 'display: none');
                    }
                }
                else
                {
                    if(isProduit == true)
                    {
                        $('#chevronSup-'+id).removeAttr('style');
                    }
                    else
                    {
                        $('#menuChevronSup-'+id).removeAttr('style');
                    }
                }
            });
        }) ;

        $('.deleteProd').on('click',function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var url = $(this).data('url');
            var res = $('.quantite-'+id).load(url,function () {

            });

            tabPrice[String(id)] = 0;
            sousTotal = 0;
            tabPrice.forEach(function (element) {
                sousTotal = sousTotal+element;
            });
            $('#sousTotal').text(sousTotal.toFixed(2)+'€');
            $('#produitId-'+id).fadeOut("slow");
            total = (sousTotal + livraison);
            $('#total').text(total.toFixed(2)+'€');
        });


        $('.deleteMenu').on('click',function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var url = $(this).data('url');
            var res = $('.quantiteMenu-'+id).load(url,function () {

            });
            $('#sousMenu-'+id).fadeOut();
            tabPrice['m-'+String(id)] = 0;
            sousTotal = 0;
            tabPrice.forEach(function (element) {
                sousTotal = sousTotal+element;
            });
            $('#sousTotal').text(sousTotal.toFixed(2)+'€');
            $('#menuId-'+id).fadeOut("slow");
            total = (sousTotal + livraison);
            $('#total').text(total.toFixed(2)+'€');
        });

        $('.showMore').on('click',function(e){
            e.preventDefault();
            var id = $(this).data('id');
            $('#sousMenu-'+id).toggle(400);
        });

    </script>
{% endblock %}

