{% extends 'frontoffice/footer.html.twig' %}

{% block title %}Récapitulatif de commande{% endblock %}

{% block body %}
    <div class="row recap">
        <div class="col-lg-12 col-md-12 col-xs-12 recap-banner">
            <div>
                <h4>L'amourFood vous remercie pour votre confiance !</h4>
                <p>Votre commande <b>n°{{ commande.id }}</b> est enregistrée.</p>
                <p>Un e-mail de confirmation vient de vous être envoyé à l'adresse: <b>{{ app.user.email }}</b></p>
            </div>
        </div>
    </div>
    <div class="panier" style="margin-top: 40px;">
        <div class="row">
            <div class="container">
                <div class="produit produitSuccess">
                    <div class="livraison-type">
                        <p>Livraison en point relais</p>
                        <span>{{ pointRelais.nom }}</span>
                        </br>
                        <span>{{ pointRelais.adresse }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for menu in menus %}
                    {% if menu["quantite"] != 0 %}
                        <div id="menuId-{{ menu["id"] }}" class="produit produitSuccess">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                {% if menu["type"] == 1 %}
                                    <img class="imgSousProduit" src="{{ asset('img/menus/menu1.jpg') }}"/>
                                {% else %}
                                    {% if menu["type"] == 2 %}
                                        <img class="imgSousProduit" src="{{ asset('img/menus/menu2.jpg') }}"/>
                                    {% else %}
                                        <img class="imgSousProduit" src="{{ asset('img/menus/menu3.jpg') }}"/>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                {% if menu["type"] == 1 %}
                                    <h5>Menu petite faim</h5>
                                {% else %}
                                    {% if menu["type"] == 2 %}
                                        <h5>Menu classique</h5>
                                    {% else %}
                                        <h5>Menu complet</h5>
                                    {% endif %}
                                {% endif %}
                                <a class="showMore" data-id="{{ menu["id"] }}">En savoir plus ...</a>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 divPrix">
                                <h3 id="prixTotal-{{ menu["id"] }}">
                                    <script type="application/javascript">
                                        var prix = {{ menu["prix"] }};
                                        var qte = {{ menu["quantite"] }};
                                        var total = prix * qte;
                                        tabPrice[String({{ menu["id"] }})] = total;
                                        $('#prixTotal-' +{{ menu["id"] }}).text(total + "€");
                                    </script>
                                </h3>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 divDelete">
                                <h5>{{ menu["prix"] }}€</h5>
                            </div>
                        </div>
                        <div class="row sousMenu sousMenuSuccess" id="sousMenu-{{ menu["id"] }}" style="display: none">
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <h5>Entrée</h5>
                                <h5>{% if menu["entree"] is not null %}<a class="voir" data-toggle="modal"
                                                                          data-target="#myModal"
                                                                          data-url="{{ path('produit_panier_show', {'id': menu["entree"].id}) }}">{{ menu["entree"].nom }}</a>{% else %}Non spécifié{% endif %}
                                </h5>
                                {% if menu["entree"] is not null %}
                                    <img class="imgSousProduit " src="{{ asset('produits/'~menu["entree"].image) }}"/>
                                {% else %}Non spécifié{% endif %}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <h5>Plat</h5>
                                <h5>{% if menu["plat"] is not null %}<a class="voir" data-toggle="modal"
                                                                        data-target="#myModal"
                                                                        data-url="{{ path('produit_panier_show', {'id': menu["plat"].id}) }}">{{ menu["plat"].nom }}</a>{% else %}Non spécifié{% endif %}
                                </h5>
                                {% if menu["plat"] is not null %}
                                    <img class="imgSousProduit " src="{{ asset('produits/'~menu["plat"].image) }}"/>
                                {% else %}Non spécifié{% endif %}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <h5>Dessert</h5>
                                <h5>{% if menu["dessert"] is not null %}<a class="voir" data-toggle="modal"
                                                                           data-target="#myModal"
                                                                           data-url="{{ path('produit_panier_show', {'id': menu["dessert"].id}) }}">{{ menu["dessert"].nom }}</a>{% else %}Non spécifié{% endif %}
                                </h5>
                                {% if menu["dessert"] is not null %}
                                    <img class="imgSousProduit " src="{{ asset('produits/'~menu["dessert"].image) }}"/>
                                {% else %}Non spécifié{% endif %}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <h5>Boisson</h5>
                                <h5>{% if menu["boisson"] is not null %}<a class="voir" data-toggle="modal"
                                                                           data-target="#myModal"
                                                                           data-url="{{ path('produit_panier_show', {'id': menu["boisson"].id}) }}">{{ menu["boisson"].nom }}</a>{% else %}Non spécifié{% endif %}
                                </h5>
                                {% if menu["boisson"] is not null %}
                                    <img class="imgSousProduit " src="{{ asset('produits/'~menu["boisson"].image) }}"/>
                                {% else %}Non spécifié{% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for produit in produits %}
                    {% if produit[1] != 0 %}
                        <div id="produitId-{{ produit[0].id }}" class="produit produitMargin produitSuccess">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <img class="imgProduit voir" src="{{ asset('produits/'~produit[0].image) }}"/>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <h5>{{ produit[0].type }}</h5>
                                <h4>{{ produit[0].nom }}</h4>
                                <h5><a class="voir" data-toggle="modal" data-target="#myModal"
                                       data-url="{{ path('produit_panier_show', {'id': produit[0].id}) }}">En savoir
                                        plus ...</a></h5>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 divQuantite">
                                <div class="quantite">
                                    <i id="qte" class=" qte quantite-{{ produit[0].id }}" data-isproduit="true"
                                       data-id="{{ produit[0].id }}" data-quantite="{{ produit[0].quantite }}"
                                       data-quantitecurrent="{{ produit[1] }}">{{ produit[1] }}</i>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 divPrix">
                                <h3 id="prixTotal-{{ produit[0].id }}">
                                    <script type="application/javascript">
                                        var prix = {{ produit[0].prix }};
                                        var qte = {{ produit[1] }};
                                        var total = prix * qte;
                                        tabPrice[String({{ produit[0].id }})] = total;
                                        $('#prixTotal-' +{{ produit[0].id }}).text(total + "€");
                                    </script>
                                </h3>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 divDelete">
                                <h5>{{ produit[0].prix }}€</h5>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12 commande">
                    <h4>Commande</h4>
                    <div class="bar"></div>
                    <b><p>Livraison <span id="total"  class="total">
                        5.00€
                    </span></p></b>
                    <b><p>Total <span id="total"  class="total">
                        {{ prix }}€
                    </span></p></b>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">

        $('.voir').on('click', function (e) {
            e.preventDefault();
            var url = $(this).data('url');
            $('#modal-body').load(url);
        });

        $('.showMore').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $('#sousMenu-' + id).toggle(400);
        });

    </script>
{% endblock %}