{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    {% if error %}
        <div class="popUpError">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <script>
        $(document).ready(function(){
            $('.popUpError').fadeIn();
        })
    </script>

    <div class="container login">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 loginLeft">
                <h1 class="titleLogin">Déjà client chez l'amour food ?</h1>
                <form action="{{ path("fos_user_security_check")}}" method="post">
                    <div class="loginMail">
                        <label>Adresse mail ou identifiant</label>
                        <br>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="loginInput">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    </div>
                    <br/>
                    <div class="loginPassword">
                        <label>Mot de passe</label>
                        <br>
                        <input type="password" id="password" name="_password" required="required" class="loginInput">
                        <div class="text-right">
                            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    <button class="loginSubmit text-center">
                        <p>Me connecter</p>
                    </button>
                </form>
            </div>
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12 col-xs-12 loginRight">
                <h1 class="titleLogin">Nouveau client</h1>
                <p>Créer un compte gratuitement en quelques clics, pour profiter de la livraison gratuite en point relais partenaire</p>
                <div class="loginSubmitNew">
                    <a href="{{ path('fos_user_registration_register') }}" style="padding-bottom: 10px;padding-top: 10px;">
                    <button class="loginSubmit text-center">
                        <p>Créer mon compte</p>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
        </section>
    </content>

{% endblock fos_user_content %}