<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />

    <title>L'amour food - {% block title %}Accueil{% endblock %}</title>

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap-theme.min.css') }}">

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link type="text/css" rel="stylesheet" href="{{ asset('css/styleFront.css') }}"/>
    {% endblock %}

</head>

<body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.svg') }}" alt="logo"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('categorie_index') }}">Nos plats</a></li>
                        <li><a href="{{ path('menu') }}">Créer un menu</a></li>
                        <li><a href="{{ path('blog_index') }}">Blog</a></li>
                        {% if app.user %}
                            {% if app.user.roles.0=="ROLE_ADMIN" %}
                                <li><a href="{{ path('admin_index') }}">Backoffice</a></li>
                            {% endif %}
                            <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                            <li class="nav-panier"><a href="{{ path('index_panier') }}"><img src="{{ asset('img/panier.svg') }}">0.00€</a></li>
                            <li class="nav-deconnexion"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a class="nav-connexion" href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <!-- {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} -->
                <!-- <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a> -->
            {% else %}
                <!-- <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> -->
            {% endif %}
        </div>
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>

{% block footer %}
    {#<div class="bg-grey">#}
        {#<div class="container">#}

            {#<div class="row">#}


                {#<div class="col-lg-3 col-md-3 col-xs-12 infos">#}

                    {#<h4>Nom du site</h4>#}
                    {#<span>Je suis un texte descriptif du site, exclusivement crée pour le référencement naturel.</span>#}

                {#</div>#}

                {#<div class="col-lg-3 col-md-8 col-xs-6">#}

                    {#<h4>Menu les mieux notés</h4>#}

                    {#<ul class="best_menu">#}
                        {#<li>#}
                            {#<img src="">#}
                            {#<span><a href="#">Poulet au pot</a></span>#}
                            {#<ul>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                            {#</ul>#}
                        {#</li>#}

                        {#<li>#}
                            {#<img src="">#}
                            {#<span><a href="#">Poulet au pot</a></span>#}
                            {#<ul>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                            {#</ul>#}
                        {#</li>#}

                        {#<li>#}
                            {#<img src="">#}
                            {#<span><a href="#">Poulet au pot</a></span>#}
                            {#<ul>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                                {#<li class="glyphicon glyphicon-star"></li>#}
                            {#</ul>#}
                        {#</li>#}

                    {#</ul>#}

                {#</div>#}

                {#<div class="col-lg-2 col-md-8 col-xs-6">#}

                    {#<h4>Catégorie</h4>#}

                    {#<ul class="Categories">#}
                        {#<li><a href="#">Onglet 1</a></li>#}
                        {#<li><a href="#">Onglet 2</a></li>#}
                        {#<li><a href="#">Onglet 3</a></li>#}
                        {#<li><a href="#">Onglet 4</a></li>#}
                        {#<li><a href="#">Onglet 5</a></li>#}
                        {#<li><a href="#">Onglet 6</a></li>#}
                        {#<li><a href="#">Onglet 7</a></li>#}
                    {#</ul>#}

                {#</div>#}

                {#<div class="col-lg-4 col-md-8 col-xs-12 newsletter">#}

                    {#<ul class="news_images">#}
                        {#<li></li>#}
                        {#<li></li>#}
                        {#<li></li>#}
                        {#<li></li>#}
                    {#</ul>#}

                    {#<h5>Newsletter</h5>#}

                    {#<input type="email" name="Mail" placeholder="Email">#}

                    {#<a href="#">OK</a>#}

                    {#<span>Recevez toutes les informations, les recettes, etc...</span>#}
                {#</div>#}

            {#</div>#}

            {#<div class="row">#}

                {#<div class="col-lg-12 col-md-8 col-xs-12">#}

                    {#<span><i class="fa fa-copyright" aria-hidden="true"></i> 2016 Nom de l'entreprise Tous droits réservés</span>#}
                {#</div>#}

            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="bg-dark">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-lg-12 col-md-8 col-xs-12">#}
                    {#<span><a href="">Conditions générales de vents</a></span>#}
                    {#<span><a href="">Mentions légales</a></span>#}
                    {#<span><a href="">Aide</a></span>#}
                    {#<span><a href="">Contact</a></span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

    {#pour mon compte, dérouler les menus#}
    <script>
        $('.commande').on('click', function(){
            var id = $(this).data('id');
            $('#'+id).toggle();
        })
    </script>
{% endblock %}
</html>
