{% extends 'frontoffice/footer.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
    <section class="plat_list">
        <div class="row home">
            <div class="col-lg-12 col-md-12 col-xs-12 Filtre">
                <ul class="filtre_menu">
                    {{ form_start(form, { attr: {class: "filtre_menu",id:"formSearch"}}) }}
                    <li>
                        {{ form_widget(form.type,{attr: {class: "submitForm"}}) }}
                    </li>
                    <li>
                        {{ form_widget(form.categorie,{attr: {class: "submitForm"}}) }}
                    </li>
                    <li>
                        <a href="{{ path("produit_index") }}"> <i class="fa fa-refresh" aria-hidden="true"></i><span>Réinitialiser la recherche</span></a>
                    </li>
                    <li>
                        Point relais actif:  {{ pointRelais.nom }}
                        <a href="{{ path("point_relais_set_index") }}"
                           onclick="return confirm('Cette action supprimera le contenu de votre panier. Continuer ?' )">modifier</a>
                    </li>
                    <li>
                        {{ form_widget(form.search, {attr: {class: "submitForm"}}) }}
                    </li>
                    <li>
                        {{ form_widget(form.allergene, {attr: {class: "submitForm"}}) }}
                    </li>
                    {{ form_end(form) }}
                </ul>
            </div>
        </div>

        <div class="row plats_semaine" style="margin: 0 auto;">
            <div class="col-lg-12 col-md-12 col-xs-12 menu_choix">
                <h1 class="text-center titleCat">Nos produits</h1>
                <h5>De la salade composée, aux desserts fruités, découvrez tous nos plats</h5>


                {% set notAffichable = [] %}
                {% set produitsDuPointRelais = [] %}

                {% for produit in produits %}
                    {% if (produit.pointRelais|length > 0) %}
                        {% for pr in produit.pointRelais %}
                            {% if pr.id == app.session.get('pointRelais') %}     {# Les produits du point relais courant #}
                                {% set produitsDuPointRelais = produitsDuPointRelais|merge([produit]) %}
                                {% if isAllergene == true  %}                    {# L'utilisateur a t il des allergenes #}
                                    {% for allergene in produit.allergenes %}
                                        {% if allergene in allergenes %}
                                            {% set notAffichable = notAffichable|merge([produit]) %} {# produits ayant les allergenes du user #}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% for produit in produits %}
                    {% if produit in produitsDuPointRelais %}
                        {% if produit not in notAffichable %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="showPlat">
                                    <div class="showImgPlat">
                                        <a href="{{ path("produit_show", {'id': produit.id}) }}">
                                            <div class="overflowImg">
                                                <img class="img-responsive imgPlat" src="{{ asset('produits/'~produit.image) }}">
                                            </div>
                                        </a>
                                        {% if produit.quantite <= 0 %}
                                            <a class="addToCart">Indisponible</a>
                                        {% else %}
                                            {% if app.user is not null %}
                                                <a class="addToCart ajoutPanier" data-toggle="modal" data-target="#myModal" data-url="{{ path('ajout_panier', {'produit': produit.id}) }}" data-id="{{ produit.id }}">Ajouter</a>
                                            {% else %}
                                                <a class="addToCart" href="{{ path('fos_user_security_login') }}">Ajouter</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <a href="{{ path("produit_show", {'id': produit.id}) }}">
                                        <div class="showDescPlat">
                                            <p class="typeProduct">{{ produit.type|upper }}</p>
                                            <div class="row">
                                                <h4 class="titleProduct col-lg-8 col-md-12 col-sm-12 col-xs-12">{{ produit.nom|upper }}</h4>
                                                <span class="prixProduct col-lg-3 col-md-6 col-md-6  col-xs-12 prix">{{ produit.prix|number_format(2, '.', ',') }}€</span>
                                                <span class="descProduit col-lg-12 col-md-12 col-md-12 col-xs-12">{{ produit.description|raw|slice(0,100)|raw }}...</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            {% if loop.index == 5 %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="showPlat">
                                        <div class="dessert position_plat">
                                            <div class="livraison_menu">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                <h4>CHOISSISEZ VOTRE POINT DE LIVRAISON</h4>
                                                <p>Trouver le point de livraison qui vous convient le mieux</p>
                                                <a class="add_livraison" href="#" style="background-color: #5f5f5f">Chercher un point de livraison</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if loop.index == 10 %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="showPlat">
                                        <div class="dessert position_plat">
                                            <div class="dessert position_plat">
                                                <div class="livraison_menu">
                                                    <i class="fa fa-building-o" aria-hidden="true"></i>
                                                    <h4>BREAKZONE</h4>
                                                    <p>Zone dédiée à la promotion d'autre catégorie, aux différentes réductions,
                                                        mais aussi aux différents services de l'entreprise</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row plats_semaine" style="margin-left: 10%;
    padding-left: 30px;">
            {{ knp_pagination_render(produits) }}
        </div>

        <img src=" {{ asset('img/arrows.png' ) }} " class="fleche_haut">

    </section>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function() {

            $('.ajoutPanier').on('click', function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                var id = $(this).data('id');

                console.log('click');
                console.log(url);
                $('#modal-body').load(url);
                //$(this).load(url);
                //$(this).prop('disabled', true);
            //    $("#myModal").modal('show');


            });

            $(".submitForm").change(function () {
                $('#formSearch').submit();
            });
        });
    </script>
{% endblock %}