{% extends 'frontoffice/footer.html.twig' %}

{% block title %}
    {{ produit.nom }}
{% endblock %}

{% block head %}
    <meta property="og:title" content="{{ produit.nom }} - L'amour Food" />
    <meta property="og:description" content="{{ produit.description|striptags }}" />
    <meta property="og:site_name" content="http://amourfood.fr/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ produit.description }}" />
    <meta name="twitter:title" content="{{ produit.nom|raw }} - L'amour Food" />
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row ficheProduit">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                <img class="imgProduit" src="{{ asset('produits/' ~ produit.image ) }}" style="width:100%; height: 100%;">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 desc_prod">
                <h1 class="produit_nom">{{ produit.nom }}</h1>
                {% if produit.nbVotants is not null %}
                    {% set max = produit.notation %}
                    {% if produit.notation >= 1 %}
                        {% set fin = 0 %}
                        {% for i in 1..max %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% set fin = fin + 1 %}
                        {% endfor %}

                        {% if fin != 5 %}
                            {% for i in fin..4 %}
                                <span class="glyphicon glyphicon-star glyphicon-star-off"></span>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <span class="produit_avis">({{ produit.notation |number_format(2, '.', ',') }})</span>
                {% else %}
                    Aucune note
                {% endif %}
                <p class="produit_desc">{% if produit.description|raw|length > 100 %}
                                        {{ produit.description|raw|slice(0,100)|raw }}...
                                        {% else %}
                                        {{ produit.description|raw }}
                                        {% endif %}
                </p>

                <span class="produit_aller"><a>Allergenes</a></span>

                <p class="produit_prix_solde">{{ produit.prix|number_format(2, '.', ',') }}€</p>

                <select class="produit_quantite">
                    {% for i in 1..produit.quantite %}
                        {% if i < 6 %} <!-- On peut commander au max 5 exemplaires -->
                            <option value="{{ i }}">{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>


                {% if produit.quantite <= 0 %}
                    <a class="produit_ajout">Indisponible</a>
                {% else %}
                    {% if app.user is not null %}
                        <button class="ajoutPanier produit_ajout" data-toggle="modal" data-target="#myModal"  data-url="{{ path('ajout_quantite_panier', {'produit': produit.id, 'nombre': 'nbquantite'}) }}" data-id="{{ produit.id }}" >Ajouter au panier</button>
                    {% else %}
                        <a class="produit_ajout" href="{{ path('fos_user_security_login') }}">Ajouter au panier</a>
                    {% endif %}
                {% endif %}


                </br>
                {% if produit.quantite>0 %}
                <span class="produit_stock"><i class="fa fa-circle"></i>PRODUIT EN STOCK</span>
                {% else %}
                <span class="produit_hors_stock"><i class="fa fa-circle"></i>PRODUIT HORS STOCK</span>
                {% endif %}



                <div class="produit_info">
                    <img class="pictoFP" src="{{ asset('img/picto_livraison_page_produit.svg') }}">
                    <span class="near" style="margin-right: 13px">Livraison près de votre lieu de travail</span>

                    <img class="pictoFP" src="{{ asset('img/picto_livraison_gratuite.svg') }}">
                    <span class="free_ship">Livraison gratuite</span>
                </div>
            </div>
        </div>
    </div>


    <div class="container topMarginNav">
        <div class="row">
            <div class="col-lg-12">
                <div class="produit_nav">
                    <ul>
                        <li id="desc_long" class="active">Description</li>
                        {% if produit.allergenes|length>0 %}
                        <li id="aller_long">Allergènes</li>
                        {% endif %}
                        <li id="avis_long">Avis <span class="produit_avis">({% if produit.nbVotants %}{{ produit.nbVotants }}{% else %} 0 {% endif %})</span></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 content_nav">
                <div id="afficher_desc_long" style="display:block;">
                <h5>{{ produit.nom }}</h5>
                    <p class="produit_desc_long">
                        {{ produit.description | raw }}
                    </p>
                </div>


                <div id="afficher_aller_long" style="display:none;">
                    <p class="produit_desc_long">
                        {% for all in produit.allergenes %}
                        <ul>
                            <li>
                                {{all.nom}}
                            </li>
                        </ul>
                        {% endfor %}
                    </p>
                </div>

                <div id="afficher_avis_long" style="display:none;">
                    {% if avis != [] %}
                    {% for a in avis %}
                    <p class="produit_desc_long" >
                        {{ a }}
                    </p>
                    {% endfor %}
                    {% else %}
                        <p class="produit_desc_long" > Aucun avis </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container topMargin">
        <div class="row">
            <div class="col-lg-12 col-md-8 col-xs-6 menu_choix">
                <h3 class="text-center">
                    {% if produit.type == 'entree' %}
                        Associez votre {{ produit.nom }} avec un plat
                    {% elseif produit.type == 'plat'%}
                        Associez votre {{ produit.nom }} avec un dessert
                    {% else %}
                        Découvrez de nouveaux plats
                    {% endif %}
                </h3>
            </div>
        </div>
    </div>
    <div class="row plats_semaine" style="margin:0 auto">
        <div class="col-lg-12 col-md-12 col-xs-12 showPlatSemaine">
            {% for produitSup in autre|slice(0,3) if produitSup.quantite>0 %}
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="showPlat">
                        <div class="showImgPlat">
                            <img class="img-responsive imgPlat" src="{{ asset('produits/'~produitSup.image) }}">
                            {% if app.user is not null %}
                                <a class="ajoutPanier addToCart" data-toggle="modal" data-target="#myModal"  data-url="{{ path('ajout_quantite_panier', {'produit': produitSup.id, 'nombre': 'nbquantite'}) }}" data-id="{{ produitSup.id }}" >Ajouter</a>
                            {% else %}
                                <a class="addToCart" href="{{ path('fos_user_security_login') }}">Ajouter</a>
                            {% endif %}

                        </div>
                        <div class="showDescPlat">
                            <p class="typeProduct">{{ produitSup.type|upper }}</p>
                            <div class="row">
                                <h4 class="titleProduct col-lg-8 col-md-12 col-sm-12 col-xs-12">{{ produitSup.nom|upper }}</h4>
                                <span class="prixProduct col-lg-3 col-md-6 col-md-6  col-xs-12 prix">{{ produitSup.prix|number_format(2, '.', ',') }}€</span>
                                <span class="descProduit col-lg-12 col-md-12 col-md-12 col-xs-12">{{ produit.description|raw|slice(0,100)|raw }}...</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function(){

            $(".produit_aller").click(function(){
                $('#aller_long').addClass("active");
                $('#afficher_aller_long').css("display","block");
                $('#desc_long').removeClass('active');
                $('#afficher_desc_long').css("display","none");
                $('#avis_long').removeClass('active');
                $('#afficher_avis_long').css("display","none");
            });
            $("#aller_long").click(function(){
                $(this).addClass("active");
                $('#afficher_aller_long').css("display","block");
                $('#desc_long').removeClass('active');
                $('#afficher_desc_long').css("display","none");
                $('#avis_long').removeClass('active');
                $('#afficher_avis_long').css("display","none");
            });
            $("#desc_long").click(function(){
                $(this).addClass("active");
                $('#afficher_desc_long').css("display","block");
                $('#aller_long').removeClass('active');
                $('#afficher_aller_long').css("display","none");
                $('#avis_long').removeClass('active');
                $('#afficher_avis_long').css("display","none");
            });
            $("#avis_long").click(function(){
                $(this).addClass("active");
                $('#afficher_avis_long').css("display","block");
                $('#desc_long').removeClass('active');
                $('#afficher_aller_long').css("display","none");
                $('#aller_long').removeClass('active');
                $('#afficher_desc_long').css("display","none");
            });


            $('.ajoutPanier').on('click', function (e) {
                e.preventDefault();
                var url = $(this).data('url');
                var id = $(this).data('id');
                var quantite = $('.produit_quantite').val();
                console.log(quantite);

                console.log(url);
                url = url.replace('nbquantite', quantite);
                console.log(url);

                $('#modal-body').load(url);
            }) ;
        });
    </script>
{% endblock %}
