{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}
    <section>
        <h1>Ajouter un produit</h1>
        <a class="btn_01" href="{{path('produit_index_admin')}}">Retour</a>

        <div class="cellule_background_cms">

            {{ form_start(form) }}

            <label>Nom</label>
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}

            <label>Description</label>
            {{ form_widget(form.description, { 'attr': { 'class': 'tiny'}}) }}
            {{ form_errors(form.description) }}


            <label>Type</label>
            {{ form_widget(form.type) }}
            {{  form_errors(form.type) }}

            <label>Prix</label>
            {{ form_widget(form.prix) }}
            {{  form_errors(form.prix) }}

            <label>Supplément gastronomique</label>
            {{ form_widget(form.prixGastronomique) }}
            {{  form_errors(form.prixGastronomique) }}

            <label>Quantité</label>
            {{ form_widget(form.quantite) }}
            {{  form_errors(form.quantite) }}

            <label>Image</label>
            {{ form_widget(form.file) }}
            {{  form_errors(form.file) }}

            <label>Catégorie</label>
            {{ form_widget(form.cat) }}
            {{ form_errors(form.cat) }}

            <label>Allergènes</label>
            {{ form_widget(form.all) }}
            {{ form_errors(form.all) }}

            <label>Point relais</label>
            {{ form_widget(form.pr) }}
            {{ form_errors(form.pr) }}

            <button class="button_p" type="submit">Créer le produit</button>

            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}

