{% extends 'backoffice/menuAdmin.html.twig' %}

{% block body %}
    <section>
        <h1>Produit : {{produit.nom}}</h1>
        <a class="btn_01" href="{{path('produit_index_admin')}}">Retour</a>
        <div class="cellule_background_cms">

            <h3>Description :</h3>
            {{produit.description|raw}}

            <h3>Type :</h3>
            {{produit.type}}

            <h3>Prix :</h3>
            {{produit.prix}}€

            <h3>Quantité :</h3>
            {{produit.quantite}}

            <h3>Image :</h3>
            {% if produit.image == "" %}
                <p>Aucune image</p>
            {% else %}
                <img src=" {{ asset('produits/' ~ produit.image ) }} " style="width: 10%; height: auto"></img>
            {% endif %}

            <h2>Allergènes</h2>
            {% for all in produit.allergenes %}
                <ul>
                    <li>
                        {{ all.nom }}
                    </li>
                </ul>
            {% endfor %}
        </div>
    </section>
{% endblock %}
