{% extends 'menuAdmin.html.twig' %}

{% block body %}
    <h1>Produit edit</h1>

    {{ form_start(form, { 'attr': {'class': 'form-group' } }) }}
        <label>Nom</label>
        {{ form_widget(form.nom) }}
        {{  form_errors(form.nom) }}

        <label>Description</label>
        {{ form_widget(form.description) }}
        {{  form_errors(form.description) }}

        <label>Type</label>
        {{ form_widget(form.type) }}
        {{ form_errors(form.type) }}

        <label>DatePeremption</label>
        {{ form_widget(form.datePeremption) }}
        {{  form_errors(form.datePeremption) }}

        <label>Prix</label>
        {{ form_widget(form.prix) }}
        {{  form_errors(form.prix) }}

        <label>Quantité</label>
        {{ form_widget(form.quantite) }}
        {{  form_errors(form.quantite) }}

        <label>Image</label>
        {{ form_widget(form.file) }}
        {{  form_errors(form.file) }}

        <input type="submit" value="Modification" />

    {{ form_end(form) }}

    <h2>Les allergènes</h2>

    {% for all in produit.allergenes %}
        <ul>
            <li>
                {{ all }} <a href="{{ path('produit_delete_allergene', { 'id': produit.id, 'allergene': all }) }}">Supprimer</a>
            </li>
        </ul>
    {% endfor %}

    {{ form_start(allergeneForm) }}
        {{ form_widget(allergeneForm) }}
        <input type="submit" value="Ajout d'un allergene" />
    {{ form_end(allergeneForm) }}


    <ul>
        <li>
            <a href="{{ path('produit_index_admin') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
