{% extends 'frontoffice/footer.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container">
        <h2>Toute l'actualité pour les amoureux de la cuisine</h2>
        <span>Recettes, conseils, astuces et tutoriel pour les grands et les petits !</span>

         <div class="col-lg-4 col-md-12 col-xs-12 Blog-droite">
            <p>Bienvenue sur le blog, nous sommes heureux de partager avec vous ce qui se passe dans notre cuisine! Il y a des recettes sucrées ou salées et des recettes simples et rapides ou un peu plus complexes. C'est à vous de voir !</p>
            <!--<input type="search" name="blogSearch" placeholder="Rechercher une recette, une astuce...">-->

            <h4>Recette du moment</h4>

                <div>
                    <a href="#"><img src=" {{ asset('img/menus/menu1.jpg' ) }} "></a>
                    <a href="#"><img src=" {{ asset('img/Plat_chaud/pexels-photo-67431.jpg' ) }} "></a>
                    <a href="#"><img src=" {{ asset('img/Salade/food-thai-spicy-asian-162993.jpg' ) }} "></a>
                </div>

                <div>
                    <a href="#"><img src=" {{ asset('img/menus/menu2.jpg' ) }} "></a>
                    <a href="#"><img src=" {{ asset('img/Salade/salad-healthy-diet-spinach.jpg' ) }} "></a>
                    <a href="#"><img src=" {{ asset('img/Dessert/dessert-orange-food-chocolate-53468.jpg' ) }} "></a>
                </div>

            <h4>Catégories</h4>
            <ul>
                <li><a href="#">Recettes</a></li>
                <li><a href="#">Inspiration</a></li>
                <li><a href="#">Actualités culinaire</a></li>
                <li><a href="#">Voyage</a></li>
            </ul>
        </div>

        <div class="row blogContent">
            <div class="col-lg-8 col-md-12 col-xs-12 blogArticle">
            {% for a in articles %}
                <div class="col-lg-12 col-md-6 col-sm-6 blocArticle">
                    <div class="showArticle">
                        <div class="showImgArticle">
                            {% if a.image == "" %}
                                <p>Aucune image</p>
                            {% else %}
                                <img class="img-responsive imgPlat" src=" {{ asset('articles/' ~ a.image ) }} ">
                            {% endif %}
                        </div>
                        <div class="showDescArticle">
                            <div class="row detailArticle">
                                <h4>{{ a.titre }}</h4>
                                <p>{{ a.contenu|striptags|slice(0,60) }}...</p>
                                <a href="{{ path('article_show',{'id' :a.id,'titre':a.slug}) }}" class="col-lg-8 col-md-12 col-xs-12 openArticle">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}        
            </div>
        </div>
    </div>
{% endblock %}
