{% extends 'menuAdmin.html.twig' %}

{% block body %}

	<section>
			<h1>Utilisateurs - {{ users|length }}</h1> 
			<a class="btn_01" href="{{ path('user_new') }}">Ajouter</a>

		<div class="cellule_background_cms">
			<table>
				<tr>
					<td><strong>ID</strong></td>
					<td><strong>Utilisateurs</strong></td>
					<td><strong>Rôle</strong></td>
					<td><strong>Date de creation</strong></td>
					<td><strong>Action</strong></td>
				</tr>
				{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}
					</td>
					<td>{% if user.roles.0=="ROLE_ADMIN" %}
							Administrateur
							{% else %}
							Utilisateur
							{% endif %}</td>
					<td>{% if user.lastLogin!=null %}{{ user.lastLogin.date|date('d/m/Y') }}
					{% else %}
					Jamais connecté
					{% endif %}</td>
					<td>
						<ul>
							<li>
								<a href="{{ path('user_edit' ,{ 'id': user.id }) }}" class="user_modif">Modifier</a>
							</li>
							<li>
								<a href="{{ path('user_show', { 'id': user.id }) }}" class="user_show">Afficher<a>
							</li>
							<li>
								<a href="{{ path('user_delete_index', { 'id': user.id }) }}" class="user_show" onclick="return confirm('Voulez-vous vraiment le supprimer ?')">Supprimer<a>
							</li>
						</ul>
					</td>
				{% endfor %}
			</table>

			<ul class="pagination_form">
				<li><a>1</a></li>
				<li><a>2</a></li>
				<li><a>3</a></li>
				<li><a>4</a></li>
			</ul>
		</content>
	</section>
{% endblock %}
